@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --color-primary: #c468ff;
  --linear-gradient: linear-gradient(102deg, #c468ff, #6e91f6); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.container {
  border: solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 3; }
  .container.left {
    width: 40%;
    border: solid tomato;
    height: 100%;
    background-image: url(../assets_svg/image_2019-09-13/image.png), var(--linear-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; }
    .container.left .left-top {
      height: 75%;
      display: flex;
      border: solid blue;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center; }
    .container.left img {
      height: 80px;
      width: 80px;
      margin-bottom: 20px;
      display: flex;
      align-items: center; }
    .container.left h1 {
      width: 99px;
      height: 35px;
      font-family: Roboto;
      font-size: 30px;
      letter-spacing: 0.75px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 20px; }
    .container.left .description {
      width: 274.5px;
      height: 48px;
      opacity: 0.6;
      font-family: Roboto;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 40px; }
    .container.left .icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: solid 2px #ffffff63; }
      .container.left .icons-container span {
        height: 40px;
        border-radius: 100px;
        border: solid 2px #ffffff63;
        margin-right: 8px; }
        .container.left .icons-container span .icon {
          height: 100%;
          margin-left: 10px;
          margin-right: 10px; }
    .container.left .left-bottom {
      border: solid aquamarine;
      height: 25%;
      margin-bottom: 20px; }
      .container.left .left-bottom .media_logos {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; }
        .container.left .left-bottom .media_logos div {
          background: rgba(255, 255, 255, 0.596);
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          margin-top: 60px;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px; }
          .container.left .left-bottom .media_logos div i {
            color: #8986CB; }
      .container.left .left-bottom .copyright {
        height: 14px;
        font-family: Roboto;
        font-size: 12px;
        color: #ffffff;
        text-align: center; }
  .container.right {
    width: 60%;
    height: 100%;
    border: solid papayawhip; }
